<%= form_tag '/word-search', method: :post, class: "word_search" do %>
  <%= text_field_tag(:word_search,
                     params[:word_search],
                     placeholder: "Enter Word to Validate") %>
  <%= submit_tag 'Validate Word' %>
<% end %>

<div class="results">
  <% flash.each do |type, message| %>
    <%= content_tag :div, sanitize(message), class: type %>
  <% end %>
</div>
